<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HTML Parser Application</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>To view apple products on Amazon <a href="/parser/appleProducts">Click here</a></p>
        <p>To view general products on Amazon <a href="/parser/generalProducts">Click here</a></p>
        <p>To view cars on Amazon <a href="/parser/cars">Click here</a></p>
    </body>
</html>